<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2026 Oksana Shumilova.
  ~ All rights reserved.
  ~
  ~ This source code is provided for portfolio and evaluation purposes only.
  ~ Unauthorized copying, modification, or distribution is prohibited.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" />
